<!-- VENDOR CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/main.css">

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width:250px">
          <img class="card-img-top mx-auto" src="./images/Hinh.png" alt="Card image" style="width:70%">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
        {{!-- <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="./main.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#demo">Sản phẩm</a>
            <div id="demo" class="collapse">
              <a class="nav-link" href="./sanpham.html" style="margin-left: 20px;" target="page">Danh sách sản phẩm</a>
              <a class="nav-link" href="./sanphamnew.html" style="margin-left: 20px;" target="page">Thêm sản phẩm</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Đăng xuất</a>
          </li>
        </ul> --}}
        <div id="wrapper">
          <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
              <nav>
                <ul class="nav flex-column">
                  <li><a href="./main.html" class="active">Trang chủ </a></li>
                  <li><a href="" class="" data-bs-toggle="collapse" data-bs-target="#demo">Sản phẩm </a>
                    <div id="demo" class="collapse">
                      <a class="nav-link" href="./sanpham.html" style="margin-left: 20px;" target="page">Danh sách sản
                        phẩm</a>
                      <a class="nav-link" href="./sanphamnew.html" style="margin-left: 20px;" target="page">Thêm sản
                        phẩm</a>
                    </div>
                  </li>
                  <li >
                    <a class=" " href="/">Đăng xuất</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="container-fluid p-3 text-white text-center">
          <h1>QUẢN LÝ SẢN PHẨM</h1>
        </div>
        <iframe name="page" width="100%" height="80%" class="mt-5"></iframe>

      </div>
    </div>

  </div>
</body>