<form method="post" >
    <div class="vh-100 gradient-custom">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
    
                  <label for="username" class="input-group form-outline form-white mb-4">
                    <input type="text" id="canhday" name="canhday" placeholder="Nhap Canh Day" class="form-control form-control-lg">
                  
                  </label>
                  <label for="password" class="input-group form-outline form-white mb-4">
                    <input type="text" id="chieucao" name="chieucao" placeholder="Nhap Chieu Cao" class="form-control form-control-lg">
                    
                  </label>
                  
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>